.component {
  font-family: "Gaegu", monospace;
  font-size: 24px;
  padding: 3px 10px;
  border-radius: 5px;
  -webkit-font-smoothing: antialiased;
  border: 2px solid #FFC0E0;
  width: 250px;
  color: rgba(0, 0, 0, 0.667);
}