.component {
  cursor: pointer;
  background-color: white;
  border: 3px solid #C3846C;
  padding: 0;
  height: 40px;
  width: 40px;
  border-radius: 5px;
  box-shadow: -2px 2px 0px 0px #A6BF73;
  background-position: center;
  background-repeat: no-repeat;
}

.component:active {
  box-shadow: none;
  background-color: rgb(255, 255, 255);
  top: 2px;
  position: relative;
}

.component:hover {
  background-repeat: repeat;
}

.home {
  background-image: url(./home.svg);
  background-size: 20px 18px;
}

.help {
  background-image: url(./confused.svg);
  background-size: 13px 16px;
}