.component {
  cursor: pointer;
  background-color: white;
  border: 2px solid #FDE5B4;
  padding: 0;
  height: 42px;
  width: 42px;
  border-radius: 5px;
  box-shadow: -2px 2px 0px 0px #A6BF73;
  background-position: center;
  background-repeat: no-repeat;
}

.component:active {
  box-shadow: none;
  background-color: rgb(255, 255, 255);
  top: 2px;
  position: relative;
}

.component:hover {
  background-repeat: repeat;
}

.home {
  background-image: url(./home.png);
  background-size: 18px 18px;
}

.help {
  background-image: url(./confused.png);
  background-size: 15px 18px;
}