.component {
  width: 112.106px;
  height: 112.106px;
  flex-shrink: 0;
  border: 6px solid white;
  /* background: url(), lightgray 50% / cover no-repeat; */
  box-shadow: 4px 4px 0px 0px #A6BF73;
  position: relative;
  -webkit-app-region: no-drag;
  cursor: pointer;
}

.component:active {
  box-shadow: none;
  background-color: rgb(255, 255, 255);
  top: 2px;
  position: relativex;
}

.label {
  font-size: 18px;
  font-family: 'Gaegu';
  position: absolute;
}

.light {
  background-image: url(./muzik.jpg);
  background-size: cover;
  rotate: -4.1deg;
  margin-top: -75px;;
}

.light:hover {
  background-image: url(./muzik-dither.png);
  rotate: 2deg;
}

.light div {
  position: absolute;
  left: -10%;
  height: 18px;
  bottom: -28px;
  text-align: center;
  box-sizing: border-box;
  width: 120%;
}

/* .light:has(+ .dark:hover) {
  rotate: -1deg;
}

.photo:hover + .light {
  rotate: -1deg;
} */

.dark {
  background-image: url(./ryan-space.png);
  background-size: cover;
  rotate: 12deg;
  margin-top: -25px;
}

/* .light:hover ~ .dark {
  rotate: 8deg;
}

.photo:hover ~ .dark {
  rotate: 8deg;
} */

.dark:hover {
  background-image: url(./ryan-space-dither.png);
  rotate: 8deg;
}

.dark div {
  position: absolute;
  left: -10%;
  height: 18px;
  top: -28px;
  text-align: center;
  box-sizing: border-box;
  width: 120%;
}

.photo {
  background-image: url(./polar.png);
  background-size: cover;
  rotate: 3deg;
  margin-top: 0;
}

.photo div {
  position: absolute;
  left: calc(-112px/2 - 18px);
  rotate: -90deg;
  height: 18px;
  width: 112px;
  top: calc(112px/2 - 18px/2);
  text-align: center;
  box-sizing: border-box;
}

.photo:hover {
  background-image: url(./polar-dither.png);
  rotate: -4deg;
}

/* .photo:has(+ .light:hover) {
  rotate: -4deg;
}

.photo:has(~ .dark:hover) {
  rotate: -4deg;
} */