.component {
  position: relative;
  width: 365px;
}

.component .paperContainer {
  margin-top: -135px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.component .paper {
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 140px;

  box-sizing: border-box;
  background-origin: white;
  border-radius: 2px;
  border-right: 2px solid #C1C36C;
  border-bottom: 2px solid #C1C36C;
  border-left: 2px solid #C1C36C;
  background: #FFF;
  box-shadow: 0px -5px 0px 0px #DDE4CD inset;
}

.component .paper img {
  width: 280px;
  margin: 14px 10px;
}