.component {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.component .icon {
  height: 72px;
  width: 72px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 2px;
  border-top: 2px solid #FFF;
  border-right: 2px solid #FFF;
  border-left: 2px solid #FFF;
  box-sizing: border-box;
}

.component .icon.floyd {
  background-image: url(./newdithers/floyd.png);
}

.component .icon.atkinson {
  background-image: url(./newdithers/atkinson.png);
}

.component .icon.jarvis {
  background-image: url(./newdithers/jarvis.png);
}

.component .icon.burkes {
  background-image: url(./newdithers/burkes.png);
}

.component .icon.diff2d {
  background-image: url(./newdithers/diff2d.png);
}

.component .icon.diffcol {
  background-image: url(./newdithers/diffcol.png);
}

.component .icon.diffrow {
  background-image: url(./newdithers/diffrow.png);
}

.component .icon.sierra2 {
  background-image: url(./newdithers/sierra2.png);
}

.component .icon.stucki {
  background-image: url(./newdithers/stucki.png);
}

.component .icon.threshold {
  background-image: url(./newdithers/threshold.png);
}