/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */

 @font-face {
  font-family: 'Gaegu';
  src: url(../../assets/fonts/Gaegu-Regular.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}

#root {
  width: 100%;
}

label,
input,
img,
canvas,
button {
  -webkit-app-region: no-drag;
}

body * {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

body {
  color: #6C8A2C;
  height: 100vh;
  font-family: 'Gaegu';
  display: flex;
  margin: 0;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background: url(../../assets/bg.png);
  background-size: 25px 25px;
}

#container {
}

#main {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 477px;
  flex-shrink: 0;
  align-items: center;
  height: 100%;
  justify-content: center;
}

#controls {
  width: 325px;
}

#printer,
#controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#printing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

#printing > button {
  width: fit-content;
}